## Turn different tabs of an excel into dataframes

In [ ]:
import pandas as pd

file_path = "../../data/raw/Median_Income_Gender_Age.xlsx"
excel_file = pd.ExcelFile(file_path)

sheet_names = excel_file.sheet_names
print("Sheet names:", sheet_names)

dataframes = {}

In [ ]:
for sheet_name in sheet_names:
    dataframes[sheet_name] = pd.read_excel(file_path, sheet_name=sheet_name)

F65 = dataframes[sheet_names[0]]
M65 = dataframes[sheet_names[1]]
F50 = dataframes[sheet_names[2]]
M50 = dataframes[sheet_names[3]]
F25 = dataframes[sheet_names[4]]
M25 = dataframes[sheet_names[5]]
F16 = dataframes[sheet_names[6]]
M16 = dataframes[sheet_names[7]]
F65

In [ ]:
# Add age and gender column
F65["age_group"] = ">65"
F65["gender"] = "Female"
M65["age_group"] = ">65"
M65["gender"] = "Male"
F50["age_group"] = "50-64"
F50["gender"] = "Female"
M50["age_group"] = "50-64"
M50["gender"] = "Male"
F25["age_group"] = "25-49"
F25["gender"] = "Female"
M25["age_group"] = "25-49"
M25["gender"] = "Male"
F16["age_group"] = "16-24"
F16["gender"] = "Female"
M16["age_group"] = "16-24"
M16["gender"] = "Male"
F65

## Concat to one dataframe

In [ ]:
income = pd.concat([F65, M65, F50, M50, F25, M25, F16, M16], axis = 0)
income

## Data Cleaning except null-values

In [ ]:
from clean_in import data_clean

columns_df = ['2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
df = income

income = data_clean(df, columns_df)
income

## Null-values

In [ ]:
income.isna().sum()

## Stack dataframe for MySQL

In [ ]:
income_final = income.set_index(["country", "age_group", "gender"])
income_final = income_final.stack()
income_final = pd.DataFrame(income_final)
income_final = income_final.reset_index()
income_final.columns = ["country", "age_group", "gender", "year", "median_income_MEUR"]
income_final

In [ ]:
income_final.dtypes

In [ ]:
income_final["year"] = income_final["year"].astype(int)
income_final["median_income_MEUR"] = income_final["median_income_MEUR"].astype(float)
income_final.dtypes

In [ ]:
# Create column country ID
income_final["country_ID"] = income_final["country"].replace({"European_Union":"EU", "Belgium":"BE", "Bulgaria":"BG", "Denmark":"DK", "Germany":"DE", "Estonia":"EE",
                                                        "Finland":"FI", "France":"FR", "Greece":"GR", "Ireland":"IE", "Italy":"IT",
                                                        "Croatia":"HR", "Latvia":"LV", "Lithuania":"LT", "Luxembourg":"LU", "Malta":"MT", "Netherlands":"NL", 
                                                        "Austria":"AT", "Poland":"PL", "Portugal":"PT", "Romania":"RO", "Sweden":"SE",
                                                        "Slovakia":"SK", "Slovenia":"SI", "Spain":"ES", "Czech_Republic":"CZ", "Hungary":"HU",
                                                        "Cyprus":"CY"}, regex=True)
income_final

In [ ]:
# Create column year ID
income_final["year_ID"] = (income_final["year"] - 2000)
income_final

In [ ]:
# Create column age ID
income_final["age_ID"] = income_final["age_group"].replace({">65":"A65", "50-64":"A50", "25-49": "A25", "16-24":"A16"}, regex=True)
income_final

In [ ]:
# Create column gender ID
income_final["gender_ID"] = income_final["gender"].replace({"Female":"F", "Male": "M"}, regex=True)
income_final

In [ ]:
# Create column income ID
income_final["income_ID"] = income_final["country_ID"] + income_final["year_ID"].astype(str)
income_final["income_ID"] = income_final["income_ID"] + "_" + income_final["age_ID"] + "_" + income_final["gender_ID"]
income_final

In [ ]:
# Create file for entity "age"
df_age = income_final["age_ID"]
df_age = pd.DataFrame(df_age)
df_age["age_group"] = income_final["age_group"]
df_age = df_age.drop_duplicates()
df_age

In [ ]:
#df_age.to_csv("../../data/database/age.csv", index=False, encoding="utf-8", sep=";")

In [ ]:
# Create file for entity "gender"
df_gender = income_final["gender_ID"]
df_gender = pd.DataFrame(df_gender)
df_gender["gender"] = income_final["gender"]
df_gender = df_gender.drop_duplicates()
df_gender

In [ ]:
#df_gender.to_csv("../../data/database/gender.csv", index=False, encoding="utf-8", sep=";")

In [ ]:
# Create file for entity "income_age_gender"
selected_columns = ['income_ID', 'country_ID', 'year_ID', 'age_ID', 'gender_ID', 'median_income_MEUR']

df_income = income_final[selected_columns]
df_income

In [ ]:
#df_income.to_csv("../../data/database/income_age_gender_new.csv", index=False, encoding="utf-8", sep=";")